body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}

#grid {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    background-color: white;
}
  
.grid-item {
}

.title {
    text-align: center;    
    font-size: 60px;
    font-weight: bold;
    padding: 50px;
}

.main {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 20px
}